.mainbox {
    margin-top: 10px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heightt{
    background-color: grey;
    height: 3vh;
    padding: 10px;
    border-radius: 10px;
    font-size: 2vh;
    color :white;
    text-align: center;
    
}
.gg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heightt1{
    background-color: rgb(255, 255, 255);
    height: 3vh;
    padding: 10px;
    border-radius: 10px;
    font-size: 2vh;
    color :grey;
    text-align: center;
   border: 1px solid grey;
}
.heightt:hover{
    background-color: black;
}
.heightt1:hover{
    border: 1px solid black;
    color: black;
}